<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/jobs_table.css' %}">
    <title>Document</title>
</head>
<body>
<h1>Hyderabad Jobs</h1>
{% if hyd_jobs %}
<table>
    <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Eligibility</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phonenumber</th>
    </thead>
    {% for job in hyd_jobs %}
    <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
    </tr>
    {% endfor %}
</table>
    {% else %}
    <h2>No jobs record in Hyderabad jobs</h2>
    {% endif %}
</body>
</html>